.spinner {
    @include loading-spinner;

    &--sm {
        width: 1rem;
        height: 1rem;
    }

    &--md {
        width: 1.5rem;
        height: 1.5rem;
    }

    &--lg {
        width: 2rem;
        height: 2rem;
    }

    &--primary {
        border-top-color: $primary-color;
    }

    &--white {
        border-color: rgba(white, 0.3);
        border-top-color: white;
    }

    &--gray {
        border-top-color: $gray-600;
    }
}