.test-runner {
    padding: var(--spacing-lg);

    &__form {
        @include card;
        margin-bottom: var(--spacing-lg);
    }

    &__terminal {
        @include card;
        background-color: var(--color-gray-900);
        color: var(--color-gray-100);
        font-family: 'Consolas', monospace;
    }
}